<link href="/css/main.css" rel="stylesheet">
<div th:fragment="footer" class="footer">
    <div class="d-flex justify-content-between">
        <div>
            <h5>OriShop</h5>
            <p>BRAND</p>
            <p>AGREEMENT</p>
            <p>SHOP GUIDE</p>
            <p>STORE INFO</p>
        </div>
        <div>
            <h5>CS CENTER</h5>
            <p>1237-1423</p>
            <p>MON - FRI 10:00 ~ 17:00</p>
            <p>SAT - SUN 1:1 문의 이용</p>
        </div>
        <div>
            <h5>COMPANY</h5>
            <p>상호 (주) 오리너구리그룹  대표 권민석  주소 06129 경기도 용인시 수지구</p>
            <p>사업자 등록 번호 102-31-33 통신판매업 신고 제 12-12</p>
            <p>대표 전화 12034-142</p>
            <p>COPYRIGHT (주)오리너구리 그룹 ALL RIGHTS RESERVED</p>
        </div>
    </div>
</div>