<link href="/css/main.css" rel="stylesheet">
<div class="nav bg-dark d-flex justify-content-between" th:fragment="navbar">
    <div class="nav-menu">
        <a href="#">ACC</a>
        <a href="#">BAG</a>
        <a href="#">BEST</a>
        <a href="#">SALE</a>
        <a href="#">COMMUNITY</a>
    </div>
    <div>
        <img src="/images/ori_shop_logo.png" class="logo-img">
    </div>
    <div sec:authorize="isAnonymous()" class="d-flex">
        <a href="#">검색</a>
        <a href="#">장바구니</a>
        <a href="/login">로그인</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="d-flex">
        <a href="#">검색</a>
        <a href="#">장바구니</a>
        <a href="/logout">로그아웃</a>
    </div>

</div>
<a href="/item/list">List</a>
<a href="/item/add">add</a>


