<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet">


</head>
<body>

<div th:replace="~{ nav.html :: navbar}"></div>

<h4>로그인 페이지</h4>

<!--
param : 현재 URL의 query string 담겨있어서 여기에 있는 데이터를 꺼내서 쓸 수 있음
th:if : 이 변수에 무언가 들어있으면 이 안에 있는 내용 보여주세요
 -->
<div th:if="${param.error}">
    <h4>아이디나 비밀번호가 틀렸습니다.</h4>
</div>

<form action="/login" method="POST">
    <input name="username">
    <input name="password" type="password">
    <button type="submit">전송</button>
</form>




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>